<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Waiters-app</title> 
    </head>

    <body class="home-page center" style="background-image: url('/img/self-serve-coffee-shop.jpg);"  alt="fake pic2" >
{{!--        
                <h1 class="cafe-name"></h1>
          <p class="eg enterName center"> enter your name in the link  eg:http://localhost:3048/waiters/< NAME> </p>       
                <span></span><br><br>
                  --}}
               
               

                    <h1 class="display-4 "> WELCOME to CHECKOUT </h1>
                      <h1 class="cafe-name"></h1>






          <p class="eg enterName center"> enter your banking details and your purchase wil lbe processed  </p>       
                {{!-- <span></span><br><br>
                   --}}

                    {{!-- <button class="homeBtn center" name="link"><a href="/waiters">Waiters Schedule</a></button> --}}
                </div>

                {{!-- <button class="homeBtn center" name="link"><a href="/days">Admin</a></button> --}}
            </div>
    </body>

    </html>

     {{!-- eg:http://localhost:3048/waiters/< NAME></NAME> --}}