<h1 class="center">Add new shoes</h1>
<form action="/api/shoes" method="post">
    <div>
        <label for="">Brand</label>
        {{!-- <input type="text" name="brand" class="text center" placeholder="" > --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div>
        <label for="">Size</label>
        {{!-- <input type="text" name="size" class="text center"> --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>

    <div>
        <label for="">Colour</label>
        {{!-- <input type="text" name="colour" class="text center" placeholder=""> --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div>
        <label for="">Price</label>
        {{!-- <input type="text" name="price" class="text"> --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div>
        <label for="">In_stock</label>
        {{!-- <input type="text" name="in_stock" class="text " placeholder=""> --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>



    <div>
        <button class="btn center" type="submit">Add</button>







    </div>
</form>